/*Single page CSS done by Mihir Jetly*/
#page1 {
    height: 1100px;
    width: 100%;
    background-color: aquamarine;
    padding: 0px;
}
#page2 {
    height: 2000px;
    width: 100%;
    background-color: chocolate;
    padding: 0px;
}
#page3 {
    height: 1100px;
    width: 100%;
    background-color: darkgoldenrod;
    padding: 0px;
}

#navigation {
    position: fixed;
    width: 100%;
    color:white;
}

.page-padding {
    height:75px;
    width: 100%;
}

.projectsBorder {
    padding: 20px;
	border-style: solid;
	border-color: red;
	border-width: 1px;
	background-color: #7B89E8;
}

.endingBox {
    padding: 10px;
	background-color: red;
	color: black;
}

.spiral_grad {
	background: radial-gradient(circle, red, lightgreen, blue);
}

.listElements {
	font-size: 2.25rem;
}

.additionalInfo{
	background: white;
}