.projectsBorder {
	border-style: solid;
	border-color: red;
	border-width: 1px;
	background-color: #7B89E8;
}

.endingBox {
	background-color: red;
	color: black;
}

.spiral_grad {
	background: radial-gradient(circle, red, lightgreen, blue);
}

.listElements {
	font-size: 2.25rem;
}

.additionalInfo{
	background: white;
}

.formHeader {
	display: inline-block;
	background: white;
	padding-left: 2rem;
	padding-right: 2rem;
}

.formContainer {
	text-align: center;
	display: block;
	padding-bottom: 25rem;
}

form {
	padding-left: 2rem;
	padding-right: 2rem;
	text-align: left;
	background: white;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
	color: #FF0000;
}